@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  height: 100vh;
  /* position: relative; */
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Libre Baskerville", serif;
  width: 100%;
}

.custom-dash {
  border-top-width: 4px;
  border-top-style: dashed;
  border-color: #f7a600;
  border-top: 4px dashed #f7a600;
  border-image: repeating-linear-gradient(
      to right,
      #f7a600 0,
      #f7a600 10px,
      transparent 10px,
      transparent 20px
    )
    30;
}
